body{
    background-color: rgb(36, 36, 36);
}
p{
    display: block;
    text-align: center;
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    color: rgb(255, 124, 124);
}
.greeting{
    font-family: "flegrei", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 200px;
    margin-bottom: 0px;
    transition: color 0.4s, font-size 0.4s;
}
.greeting:hover{
    font-size: 250px;
    color: rgb(251, 231, 231);
}

.name-introduction{
    font-size: 50px;
    margin-bottom: 20px;
}
.name-emphasis{
    font-size: 90px;
    transition: color 0.4s;
}

/* This is awful
@keyframes name-animation {
    0% {color: red;}
    16.6% {color: orange;}
    33.2% {color: yellow;}
    50% {color: green;}
    66.6% {color: blue;}
    83.2% {color: indigo;}
    100% {color: violet;}
}
*/

.name-emphasis:hover{
    color: rgb(251, 231, 231);
}

.about-me{
    padding-bottom: 30px;
}
.socials{
    text-align: center;
    vertical-align: top;
}
.buttons{
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    cursor: pointer;
    background-color: rgb(255, 124, 124);
    border-color: rgb(255, 124, 124);
    border-style: solid;
    border-radius: 7px;
    text-align: center;
    color: rgb(251, 231, 231);
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    transition: color 0.15s, background-color 0.15s, border-color 0.15s, opacity 0.15s;
}

.buttons:hover{
    border-color: rgb(251, 231, 231);
    background-color: rgb(251, 231, 231);
    color: rgb(255, 124, 124);
}

.buttons:active{
    opacity: 80%;
}

/*
font-family: "itc-avant-garde-gothic-pro", sans-serif;
font-weight: 300 500 or 700; choose one!
font-style: normal;
*/
