body{
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0.5vh 0.5vw;
}

h1{
    margin: 2vh auto;
}

a{
    font-size: 100%;
    text-decoration: none;
}

#map{ 
    height: 82vh;
    width: 100%;
}
